<div class="container">
  <div class="header">
    <div id="url" style="">SEND URL TO FRIEND TO PLAY</div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h3>RYAN</h3>
      <h3>Score: 2</h3>
      <%= image_tag "rock.png", :id => "rock" %>
      <%= image_tag "paper.png", :id => "paper" %>
      <%= image_tag "scissors.png", :id => "scissors" %>
    </div>
    <div class="col-md-8">
      <h1 class="title" style="">ROCK, PAPER, SCISSORS - SHOOT!</h1>
      <p class="oval-speech-choose bubble-text" style="position:absolute; margin-left:400px; margin-top:-60px">Choose your pick</p>
      <p class="oval-speech-waiting bubble-text" style="position:absolute; margin-left:400px; margin-top:-60px">Waiting for opponent</p>
      <%= image_tag "referee.png", :id => "referee" %>
    </div>
    <div class="col-md-2">
      <h3>MIKE</h3>
      <h3>Score: 1</h3>
      <%= image_tag "rock.png", :id => "op_rock" %>
      <%= image_tag "paper.png", :id => "op_paper" %>
      <%= image_tag "scissors.png", :id => "op_scissors" %>
    </div>
  </div>
</div>

<script>
// document.getElementById('rock').addEventListener('click', function() {
//     alert('Hello world');
// }, false);
$( document ).ready(function() {
  setTimeout(function() {
    $( ".oval-speech-choose" ).animate({
      opacity: 1
    }, 1400, function() {
    });
  }, 3000);
});
$( "#rock" ).click(function() {
  $( "#rock" ).animate({
    left: "+=150"
  }, 400, function() {
  });
  $( "#scissors" ).animate({
    opacity: .3
  }, 400, function() {
  });
  $( "#paper" ).animate({
    opacity: .3
  }, 400, function() {
  });

  $( ".oval-speech-waiting" ).animate({
    opacity: 1
  }, 1400, function() {
  });

});
$( "#paper" ).click(function() {
  $( "#rock" ).animate({
    opacity: .3
  }, 400, function() {
  });
  $( "#scissors" ).animate({
    opacity: .3
  }, 400, function() {
  });
  $( "#paper" ).animate({
    left: "+=150"
  }, 400, function() {
  });
});
$( "#scissors" ).click(function() {
  $( "#rock" ).animate({
    opacity: .3
  }, 400, function() {
  });
  $( "#scissors" ).animate({
    left: "+=150"
  }, 400, function() {
  });
  $( "#paper" ).animate({
    opacity: .3
  }, 400, function() {
  });
});
</script>