<h1>Rock, Paper, Scissors</h1>
<h3>Challenge a friend</h3>

<%= form_tag players_path, method: "post" do %>
  <div class="field">
    <%= label_tag "player_one", "Your Name" %>
    <%= text_field_tag "player_one" %>
  </div>
  <div class="field">
    <%= label_tag "player_two", "Opponent" %>
    <%= text_field_tag "player_two" %>
  </div>
  <%= submit_tag "Start Game" %>
<% end %>
