<h1 id="welcome_title">Rock, Paper, Scissors</h1>
<h3 id="welcome_subhead">Challenge a friend</h3><br>

<%= form_tag games_path, method: "post" do %>
  <div class="field">
    <%= label_tag "player_one_name", "Your Name", class: 'white' %><br>
    <div class="black"><%= text_field_tag "player_one_name" %></div>
  </div><br>
  <div class="field">
    <%= label_tag "player_two_name", "Opponent", class: 'white' %><br>
    <div class="black"><%= text_field_tag "player_two_name" %></div><br>
  </div>
  <div class="field">
  <%= submit_tag "Start Game", class: 'button' %>
  </div>
<% end %>

<video autoplay loop id="bgvid">
<!--     <source src="https://github.com/empireofryan/rockpaperscissors/blob/master/app/assets/images/background.webm" type="video/webm"> -->
    <source src="http://empireofryan.github.io/background.mp4" type="video/mp4">
</video>

<style>
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
</style>